<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wynik</title>
</head>
<body>
    <h1>{{ question.question.text }}</h1>

    <ul>
        {% for choice in question.choice_set.all %}
            <li>{{ choice.choice_text }} -- {{ choice.votes }} vote {{ choice.votes|pluralize }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'pools:detail' question.id %}">Vote again?</a>

</body>
</html>