<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Logowanie</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Zaloguj">
    </form>
</body>
</html>