<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
    <h1>Rejestracja</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Zarejestruj">
        </form>
    </div>
</body>
</html>