<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
    <h1>Rejestracja użytkownika</h1>
    {% if user.is_authenticated %}
        <p>Jesteś już zarejestrowany jako {{ user.username}}.
        <br /><a href="/">Strona główna.</a>
        </p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Zarejestruj</button>
        </form>
    {% endif %}
    <p><a href="{% url 'czat:index' %}">Strona główna</a></p>
</body>
</html>