<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- nazwa aplikacji pobrana z ustawień -->
    <meta charset="UTF-8">
    <title>{{ config.SITE_NAME }}</title>
    <!-- dołączamy arkusz CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>{{ config.SITE_NAME }}:</h1>
    <!-- formularz dodawania zadania -->
    <form class="add-form" method="POST" action="{{ url_for('zadania') }}">
      <input name="zadanie" value=""/>
      <button type="submit">Dodaj zadanie</button>
    </form>

    <!-- informacje o sukcesie lub błędzie -->
    <p>
      {% if error %}
        <strong class=""error>Błąd: {{ error }}</strong>
      {% endif %}

      {% for message in get_flashed_messages() %}
        <strong class="success">{{ message }}</strong>
      {% endfor %}
    </p>
    <o1>
      <!-- wypisujemy kolejno wszystkie zadania -->
      {% for zadanie in zadania %}
        <li>
          <!-- wyróżnienie zadań zakończonych -->
          {% if zadanie.zrobione %}
            <span class="done">{{ zadanie.zadanie }} - <em>{{ zadanie.data_pub }}</em></span>
          {% else %}
            {{ zadanie.zadanie }} - <em>{{ zadanie.data_pub }}</em>
          {% endif %}

          <!-- formularz zmiany statusu zadania -->
          {% if not zadanie.zrobione %}
            <form method="POST" action="{{ url_for('zrobione') }}">
              <!-- wysyłamy jedynie informację o id zadania -->
              <input type="hidden" name="id" value="{{ zadanie.id }}" />
              <button type="submit">Wykonane</button>
            </form>
          {% endif %}
          <!-- wyróżnienie zadań usuniętych -->
          <form method="POST" action="{{ url_for('usuniete') }}">
            <!-- wysyłamy informację o ID zadania do usunięcia -->
            <input type="hidden" name="id" value="{{ zadanie.id }}"/>
            <button type="submit">Usuń zadanie</button>
          </form>
        </li>

      {% endfor %}
    </o1>
    <p><a href="{{ url_for('index') }}">Strona główna</a></p>
  </body>
</html>