<!-- templates/czat/index.html -->
<html>
  <head></head>
  <body>
    <h1>Witaj w aplikacji Czat!</h1>

    {% if user.is_authenticated %}
        <p>Jesteś zalogowany jako {{ user.username }}.</p>
        <p><a href="{% url 'czat:wyloguj' %}">Wyloguj się.</a></p>
        <p><a href="{% url 'czat:wiadomosc_list' %}">Lista wiadomości</a></p>
        <p><a href="{% url 'czat:wiadomosc_form' %}">Dodaj wiadomość</a></p>
    {% else %}
        <p><a href="{% url 'czat:loguj' %}">Zaloguj się.</a></p>
    {% endif %}

  </body>
</html>
