<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loguj</title>
</head>
<body>
    <h1>Logowanie użytkownika</h1>
    {% if user.is_authenticated %}
        <p>Jesteś już zalogowany jako {{ user.username }}.
        <br /><a href="/">Strona główna</a></p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Zaloguj</button>
        </form>
    {% endif %}
</body>
</html>