<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiadomosci</title>
</head>
<body>
    <h1>Wiadomości</h1>

    {% if messages %}
        <ul>
            {% for komunikat in messages %}
                <li>{{ komunikat|capfirst }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Lista wiadomości:</h2>
    <ol>
        {% for wiadomosc in wiadomosci %}
            <li>
                <strong>{{ wiadomosc.autor.username }}</strong>({{ wiadomosc.data_pub }}):
                <br /> {{ wiadomosc.tekst }}
            </li>
            {% if wiadomosc.autor.username == user.username %}
                &bull; <a href="{% url 'czat:edytuj' wiadomosc.id %}">Edytuj</a>
            {% endif %}
            <a href="{% url 'czat:usun' wiadomosc.id %}">Usuń</a>
        {% endfor %}
    </ol>

    {% if is_paginated %}
        <p>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Poprzednie</a>
        {% endif %}
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        <span></span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Następne</a>
        {% endif %}
        </p>
    {% endif %}

    <p><a href="{% url 'czat:index' %}">Strona główna</a></p>

</body>
</html>