<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiadomości</title>
</head>
<body>
    <h1>Wiadomości</h1>

    <h2>Dodaj wiadomość:</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zapisz</button>
    </form>

    <h2>Lista wiadomości:</h2>
    <ol>
        {% for wiadomosc in wiadomosci %}
            <li>
                <strong>{{ wiadomosc.autor.username }}</strong>({{ wiadomosc.data_pub }}):
                <br /> {{ wiadomosc.tekst }}
                {% if wiadomosc.autor.username == user.username %}
                    &bull; <a href="{% url 'czat:edytuj' wiadomosc.id %}">Edytuj</a>
                {% endif %}

                <a href="{% url 'czat:usun' wiadomosc.id %}">Usuń</a>
            </li>

        {% endfor %}
    </ol>

    <p><a href="{% url 'czat:index' %}"></a></p>

</body>
</html>