<!DOCTYPE html>
{% extends "szkielet.html" %}
{% set active_page = "lista" %}
{% block tytul %}Lista pytań{% endblock %}
{% block h1%}Quiz ORM &#8211; lista pytań{% endblock %}
{% block tresc %}
  <ol>
    <!-- pętla odczytująca kolejne pytania z listy -->
    {% for p in pytania %}
      <li>
        <!-- wypisujemy pytanie -->
        {{ p.pytanie }}
        <a href="{{ url_for('edytuj', pid=p.id ) }}" class="btn btn-default">Edytuj</a>
        <a href="{{ url_for('usun', pid=p.id ) }}" class="btn btn-danger">Usuń</a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}