<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj książkę</title>
</head>
<body>
    <div>
        <!-- dodawanie książki -->
        <form class="add-form" method="POST" action="{{ url_for('add_book') }}">
            title: <input name="title" type="text"  value=""/><br>
            Autor: <input name="author" type="text" value=""/><br>
            Data publikacji: <input name="date_pub" type="date" value=""/><br>
            ISBN: <input name="ISBN" type="text" value=""/><br>
            Liczba stron: <input type="number" name="pages" value=""/><br>
            Okładka: <input type="text" name="cover" value=""/><br>
            Język: <input type="text" name="language" value=""/><br>
            <button type="submit">Zapisz książkę</button>
        </form>

        <p>
            {% if error %}
                <strong class="error">Błąd: {{ error }}</strong>
            {% endif %}

            {% for message in get_flashed_messages() %}
                <strong class="success">{{ message }}</strong>
            {% endfor %}
        </p>
    </div>
</body>
</html>