<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edycja książki</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>
<body>

    <div class="container mv-5 mt-3">
        <table class="table table-striped table-bordered mydatatable" style="width: 100%">
            <thead>
                <tr>
                    <th colspan="1" rowspan="2">Id</th>
                </tr>
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data publikacji</th>
                    <th>ISBN</th>
                    <th>Liczba stron</th>
                    <th>Link do okładki</th>
                    <th>Język publikacji</th>
                </tr>
            </thead>
            <tbody>

            <!-- listujemy zawartość bazy -->
                {% book = books_data[pid] %}
                <tr>
                    <th scope="row">{{ book[0] }}</th>
                    <th scope="row">{{ book[1] }}</th>
                    <th scope="row">{{ book[2] }}</th>
                    <th scope="row">{{ book[3] }}</th>
                    <th scope="row">{{ book[4] }}</th>
                    <th scope="row">{{ book[5] }}</th>
                    <th scope="row">{{ book[6] }}</th>
                    <th scope="row">{{ book[7] }}</th>
                    <th scope="row">
                        <a href="{{ url_for('edit_db', pid=book[0]) }}" class="btn btn-default">Edytuj</a>
                    </th>
                    <th scope="row">
                        <a href="{{ url_for('delete', pid=book[0]) }}" class="btn btn-default">Usuń</a>
                    </th>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data publikacji</th>
                    <th>ISBN</th>
                    <th>Liczba stron</th>
                    <th>Link do okładki</th>
                    <th>Język publikacji</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <!-- dodawanie książki -->
        <form class="add-form" method="POST" action="{{ url_for('save') }}">
            <button type="submit">Zapisz</button>
        </form>

        <p>
            {% if error %}
                <strong class="error">Błąd: {{ error }}</strong>
            {% endif %}

            {% for message in get_flashed_messages() %}
                <strong class="success">{{ message }}</strong>
            {% endfor %}
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.botstrap4.min.js"></script>

    <script>
        $('.mydatatable').DataTable({
            pagingType: 'full_numbers',
            searching: true,
        });
    </script>


</body>
</html>