<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edycja książki:</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>
<body>
    {% if messages %}
        <ul>
            {% for komunikat in messages %}
                <li>{{ komunikat|capfirst }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container mv-5 mt-3">
        <table class="table table-striped table-bordered mydatatable" style="width: 100%">
	        <thead>
                <tr>
                    <th>Id</th>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data publikacji</th>
                    <th>ISBN</th>
                    <th>Liczba stron</th>
                    <th>Link do okładki</th>
                    <th>Język publikacji</th>
                </tr>
	        </thead>
            <tbody>
                <tr>
				    <form action="{% url 'aplikacjaKsiazkowa2:add_book' %}" method="POST">
                   	  <th></th>
                      <th>
                          <input type="text" class="form-control" id="title" placeholder="Tytuł" name="title">
              		  </th>
                      <th>
                          <input type="text" class="form-control" id="author" placeholder="Autor" name="author">
                      </th>
                      <th>
                          <input type="date" class="form-control" id="pub_date" placeholder="Data publikacji" name="pub_date">
                      </th>
                      <th>
                          <input type="text" class="form-control" id="isbn" placeholder="ISBN" name="isbn">
                      </th>
                      <th>
                          <input type="number" class="form-control" id="pages" placeholder="Liczba stron" name="pages">
                      </th>
                      <th>
                          <input type="text" class="form-control" id="cover" placeholder="Link do okładki" name="cover">
                      </th>
                      <th>
                          <input type="text" class="form-control" id="language" placeholder="Język" name="language">
                      </th>
                      <th>
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary" >Zapisz książkę</button>
                      </th>
                    </form>
                </tr>
            </tbody>
	    </table>
    </div>

    <div class="container">
        <form action="{% url 'aplikacjaKsiazkowa2:index' %}">
            <div>
                <button type="submit" class="btn btn-primary">Strona główna</button>
            </div>
        </form>
        <br>
        <form action="{% url 'aplikacjaKsiazkowa2:lista' %}">
            <div>
                <button type="submit" class="btn btn-primary">Lista książek</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.botstrap4.min.js"></script>

</body>
</html>

