<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edycja książki:</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>
<body>
    <div class="container mv-5 mt-3">
        <table class="table table-striped table-bordered mydatatable" style="width: 100%">
	        <thead>
                <tr>
                    <th>Id</th>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data publikacji</th>
                    <th>ISBN</th>
                    <th>Liczba stron</th>
                    <th>Link do okładki</th>
                    <th>Język publikacji</th>
                </tr>
	        </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ book.id }}</th>
                    <th scope="row">{{ book.title }}</th>
                    <th scope="row">{{ book.author }}</th>
                    <th scope="row">{{ book.pub_date }}</th>
                    <th scope="row">{{ book.isbn }}</th>
                    <th scope="row">{{ book.pages }}</th>
                    <th scope="row">{{ book.cover }}</th>
                    <th scope="row">{{ book.language }}</th>
                </tr>
            </tbody>
            <tfoot>
				<form action="./{{ book.id }}" method="POST" id=book.id>
                   <tr>
                   	  <th scope="row">{{ book.id }}</th>
                      <th>
                          <input type="text" class="form-control" id="title" placeholder="{{ book.title }}" name="title" value="{{ book.title }}">
              		  </th>
                      <th>
                          <input type="text" class="form-control" id="author" placeholder="Autor" name="author" value="{{ book.author }}">
                      </th>
                      <th>
                          <input type="date" class="form-control" id="pub_date" placeholder="Data publikacji" name="pub_date" content="{{ book.pub_date }}" value="{{ book.pub_date }}">
                      </th>
                      <th>
                          <input type="text" class="form-control" id="isbn" placeholder="ISBN" name="isbn" value="{{ book.isbn }}">
                      </th>
                      <th>
                          <input type="number" class="form-control" id="pages" placeholder="Liczba stron" name="pages" content="{{ book.pages }}" value="{{ book.pages }">
                      </th>
                      <th>
                          <input type="text" class="form-control" id="cover" placeholder="Link do okładki" name="cover" value="{{ book.cover }}">
                      </th>
                      <th>
                          <input type="text" class="form-control" id="language" placeholder="Język" name="language" value="{{ book.language }}">
                      </th>
                      <th>
                           <div>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Zapisz</button>
                           </div>
                      </th>
                   </tr>

                </form>
            </tfoot>
	    </table>
    </div>
    <div class="container">
        <form action="{% url 'aplikacjaKsiazkowa2:index' %}">
            <div>
                <button type="submit" class="btn btn-primary">Strona główna</button>
            </div>
        </form>
        <br>
        <form action="{% url 'aplikacjaKsiazkowa2:lista' %}">
            <div>
                <button type="submit" class="btn btn-primary">Lista książek</button>
            </div>
        </form>
        <br>
        <form action="{% url 'aplikacjaKsiazkowa2:add_book' %}">
            <div>
                <button type="submit" class="btn btn-primary">Nowa książka</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.botstrap4.min.js"></script>

</body>
</html>

