<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Books Embedded Viewer API Example</title>
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script type="text/javascript">
      google.books.load();

      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load('ISBN:9788324403875');
      }

      google.books.setOnLoadCallback(initialize);
    </script>
  </head>
  <body>
    <div id="viewerCanvas" style="width: 600px; height: 500px"></div>
  </body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Google API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .fakeimg {
        height: 200px;
        background: #aaa;
    }
  </style>
</head>
<body>

    <div class="container" style="margin-top:30px">
        <form action="{% url 'aplikacjaKsiazkowa2:gugle' %}" method="POST" >
            Podaj słowo kluczowe, dla którego chcesz wyszukać dostępne książki w Google API.
            <br>
            Wszystkie znalezione zostaną dodane do bazy.
            <div>
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">Wyszukaj w Google API</button><br>
                <input type="text" class="form-control" name="terms"/>
            </div>
        </form>
        <form>

        </form>

    </div>


    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="lista">Lista książek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add_book">Dodaj książkę</a>
                    </li>

                </ul>
                <hr class="d-sm-none">
            </div>
        </div>
    </div>


</body>
<footer>
  <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Strona przykładowa do rekrutacji do STX Next, październik 2021</p>
    </div>
</footer>
</html>