<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista książek</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>
<body>
    {% if messages %}
        <ul>
            {% for komunikat in messages %}
                <li>{{ komunikat|capfirst }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container mv-5 mt-3">
        <table class="table table-striped table-bordered mydatatable" style="width: 100%">
	        <thead>
                <tr>
                    <th>Id</th>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data publikacji</th>
                    <th>ISBN</th>
                    <th>Liczba stron</th>
                    <th>Link do okładki</th>
                    <th>Język publikacji</th>
                    <th>Edycja</th>
                    <th>Usuwanie</th>
                </tr>
	        </thead>
	        <tbody>
                {% for book in books_data %}
                <tr>
                    <th scope="row">{{ book.id }}</th>
                    <th scope="row">{{ book.title }}</th>
                    <th scope="row">{{ book.author }}</th>
                    <th scope="row">{{ book.pub_date }}</th>
                    <th scope="row">{{ book.isbn }}</th>
                    <th scope="row">{{ book.pages }}</th>
                    <th scope="row">{{ book.cover }}</th>
                    <th scope="row">{{ book.language }}</th>
                    <th scope="row">
                        <form action="{% url 'aplikacjaKsiazkowa2:edit' id=book.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning">Edytuj</button>
                        </form>
                    </th>
                    <th scope="row">
                        <form action="{% url 'aplikacjaKsiazkowa2:delete' id=book.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data publikacji</th>
                    <th>ISBN</th>
                    <th>Liczba stron</th>
                    <th>Link do okładki</th>
                    <th>Język publikacji</th>
                    <th>Edycja</th>
                    <th>Usuwanie</th>
                </tr>
	        </tfoot>
	    </table>
    </div>

    <div class="container">
        <form action="{% url 'aplikacjaKsiazkowa2:lista' %}" method="POST" >
            <div>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Wybierz zakres dat</button><br>
                Data początkowa:<input type="date" class="form-control" id="d1" name="d1"/>
                Data końcowa:<input type="date" class="form-control" id="d2" name="d2"/>
            </div>
        </form>
        <form action="{% url 'aplikacjaKsiazkowa2:lista' %}" method="POST" >
            <br>
            <div>
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">Wyszukaj tytuł</button><br>
                <input type="text" class="form-control" id="t_search" name="title" />
            </div>
        </form>
            <br>
        <form action="{% url 'aplikacjaKsiazkowa2:lista' %}" method="POST" >
            <div>
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">Wyszukaj autora</button><br>
                <input type="text" class="form-control" id="a_search" name="author" />
            </div>
        </form>
            <br>
        <form action="{% url 'aplikacjaKsiazkowa2:lista' %}" method="POST" >
            <div>
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">Wyszukaj język</button><br>
                <input type="text" class="form-control" id="l_search" name="language" />
            </div>
            <br>
        </form>

        <form action="{% url 'aplikacjaKsiazkowa2:index' %}">
            <div>
                <button type="submit" class="btn btn-primary">Strona główna</button>
            </div>
        </form>
        <br>
        <form action="{% url 'aplikacjaKsiazkowa2:add_book' %}">
            <div>
                <button type="submit" class="btn btn-primary">Dodaj książkę</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.botstrap4.min.js"></script>

    <script>
        $('.mydatatable').DataTable({
            pagingType: 'full_numbers',
            searching: true,
        });
    </script>

</body>
</html>
