<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Czat</title>
</head>
<body>
    <h1>Witaj w aplikacji Czat!</h1>
    {% if messages %}
        <ul>
            {% for komunikat in messages %}
                <li>{{ komunikat|capfirst }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if not user.is_authenticated %}
        <form action="." method="POST">
            <ul>
                <li><a href="{% url 'czat:loguj' %}">Zaloguj się</a></li>
            </ul>
        </form>
    {% else %}
        <p>Jesteś już zalogowany jako {{ user.username }}</p>
        <form action="." method="POST">
            <ul>
                <li><a href="{% url 'czat:wyloguj' %}">Wyloguj</a></li>
                <li><a href="{% url 'czat:wiadomosci' %}">Dodaj wiadomość</a></li>
            </ul>
        </form>

    {% endif %}
</body>
</html>