<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>czat - logowanie</title>
</head>
<body>
    <h1>Witaj w aplikacji Czat!</h1>

    <h2>Logowanie użytkownika</h2>
    {% if not user.is_authenticated %}
        <form action="." method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Zaloguj</button>
        </form>
    {% else %}
      <p>Jesteś już zalogowany jako {{ user.username }}</p>
      <ul>
        <li><a href="{% url 'czat:index' %}">Strona główna</a></li>
      </ul>
    {% endif %}

</body>
</html>