<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiadomosci</title>
</head>
<body>
    <h1>Witaj w aplikacji Czat!</h1>

    {% if messages %}
        <ul>
            {% for komunikat in messages %}
                <li>{{ komunikat|capfirst }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Dodaj wiadomość:</h2>
    <form action="." method="POST">
        {% csrf_token %}
        <input type="text" name="tekst" />
        <input type="submit" value="Zapisz" />
    </form>

    <h2>Lista wiadomości:</h2>
    <ol>
        {% for wiadomosc in wiadomosci %}
            <li>
                <strong>{{ wiadomosc.autor.username }}</strong> ({{ wiadomosc.data_pub }}):
                <br /> {{ wiadomosc.tekst }}
            </li>
        {% endfor %}
    </ol>

    <ol>
        <ul>
            <li><a href="{% url 'czat:index' %}">Strona główna</a></li>
        </ul>
    </ol>

</body>
</html>